#header
  background: color-header-background
  padding-bottom: nav-height
  position: relative
  -webkit-user-select: none

#header-outer
  height: 100%
  position: relative

#header-inner
  position: relative

#header-title
  clearfix()
  padding: 30px 30px
  .logo-wrap, .subtitle-wrap
    float: left
  .subtitle-wrap
    padding: 20px 0px 0px
    margin-left: 20px
  .subtitle
    font-size: 22px
    line-height: 50px
    color: #fa862e
    text-shadow: 0 1px rgba(0, 0, 0, 0.2)
  .description
    font-size: 18px
    line-height: 50px
    color: #777
    letter-spacing: 2px
